.test {
    font-size: 2em;
    color: red;
}

html, body { height: 100%; box-sizing: border-box;}
body { margin : 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #CECECE;}
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebebeb;
}

.content.main {
    background-color: #AEAEAE;
    width: 100%;
    height: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}


/**
    spinner
*/
#spinners {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#spinners.hide {
    display: none;
}

/**
    NavBar
*/
.navbar .navbar-brand span, .navbar .user-info span {
    margin: 0 4px;
    font-size: 0.875em;
}

.navbar .navbar-brand {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.navbar .user-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.navbar img {
    height: 40px;
}
.navbar .logout {
    margin-left: 15px;
    height: 15px;
    width: 20;
}
.navbar .synchro-state {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
#synchrotext {
    font-size: 1.1em;
    margin-right: 8px;
}




/**
    Content
*/
.text-to-translate {
    min-height: 160px;
    width: 90%;
    max-width: 570px;
    background-color: #FFF;
    margin: 12px 26px;
    border-radius: 7px;
}
.text-to-translate p {
    font-weight: 700;
    font-size: 1.2em;
}
#resulttext {
    min-height: 160px;
    border-radius: 7px;
    width: 90%;
    max-width: 850px;
    font-size: 1.8em;
    line-height: 40px;
    padding: 12px 8px;
}
#resulttext.rtl {
    direction: rtl;
}
#resulttext.cursor-left {
    text-align: right;
}
.result-bloc p {
    font-size: 1.2em;
    color: #000;
    font-weight: 900;
    width: max-content;
}
.result-bloc p.rtl {
    display: flex;
    flex-flow: row-reverse nowrap;
}
/* .result-bloc p.ltr {
    display: flex;
    flex-flow: row nowrap;
} */
/* .result-bloc p span {
    width: max-content;
} */
.row.actions {
    /* max-width: 750px;
    width: 90%; */
    /* background-color: #4CD964; */
}
.row.actions button {
    width: max-content;
}

.row.actions.hide {
    display: none !important;
}




/**
    toolbar
*/
.row.main-toolbar {
    height: 60px;
    background-color: #CECECE;
    margin: 12px;
}
.main-toolbar .toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    background-color: #FFF;
}
#userimage {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background-color: #000;
}
#username {
    line-height: 26px;
    font-weight: 600;
    font-size: 1.1em;
    margin-right: 8px;
}
.main-toolbar .synchro-state {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
}

.synchro-state .synchro-light {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color:gray;
}
.synchro-state .synchro-light.synchro-light-online {
    background-color:green;
}

.synchro-state .synchro-light.synchro-light-offline {
    background-color: orange;
}



/**
    Page content
*/

.row.main-content {
    margin-top: 8px;
}
.action {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background-color: #FFF;
    margin: 6px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row.request {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.row.result {
    margin: 0;
    padding: 0;
}
.row.result .result-text, .row.result .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.row.result .actions .actions-btns {
    width: 260px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.actions .validate {
    background-color: #4CD964;
}

.actions .ignore {
    background-color: #ED9107;
}

/**
    Options
*/

ul {
    list-style-type: none;
}
  
#ul li{
    float: left;
}
#ul li a{
    display: block;
    color: black;
    text-align: center;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background-color: #fff;
    margin-left: 5px;
    border-radius: 10px 10px 0 0;
}
#ul li a:hover{
    opacity: 0.7;
}
#ul li:first-child a{
    margin-left: 0;
}
#ul .active{
    background-color: silver;
}
#translationBloc, #noTranslateFound{
    clear: both;
    background-color: silver;
    padding: 20px;
}